@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Outfit:wght@100..900&family=Prata&family=Sansita+Swashed:wght@300..900&display=swap');

@import 'tailwindcss';

body {
  background-color: #0f2f25;
  min-height: 100vh;
  margin: 0;
}

@theme {
  --font-lexend: 'Lexend Zetta', sans-serif;
  --font-sansita: 'Sansita Swashed', cursive;
}
