.container {
  width: 600px;
  margin: auto;
  margin-top: 110px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  padding: 30px 40px;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}

.container h2 {
  font-size: 20px;
  font-weight: 400;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16 px;
  cursor: pointer;
}

.container button {
  margin: auto;
  width: 220px;
  height: 62px;
  background: #553f9a;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
}

.container .index {
  margin: auto;
  font-size: 18px;
}

.container .correct {
  background: #dffff2;
  border-color: #00d397;
}

.container .wrong {
  background: #ffebeb;
  border-color: #ff4444;
}
